body {
	font-family: Arial, Helvetica;
	font-size: 12px;
}
body {
  padding: 0;
  margin: 0px;
  margin-top: 0px;
}
form {
	padding: 0px;
	margin: 0px;
}
th, tr ,td {
	font-size: 12px; 
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
div.serif {
    font-family: "Times New Roman", Times, serif;
	font-size: 12;
}

#content {
	position:relative;
	padding-top:30px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-right: 10px;
	border: #c6d6c7 3px solid;
	border-top: none;
	border-right-color: #ADC4AF;
	border-bottom-color: #ADC4AF;
	background-image: url(../images/cHead.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	z-index : 1;

}
#content0 {
	z-index : -1;
}
div.content1 {
	border: none;
    background-color: #ffffff;
	background-image: url(../images/cHead.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}


#crdlogo {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 55px;
	height: 55px;
	border: 0;
	padding: 0;
	margin: 0;
    background-color: #ADC4AF;
}
#crdlogo h1 {
   background: transparent url(../images/familyTreesmall.jpg) no-repeat left bottom;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 4pt;
	width: 55px;
	height: 55px;
}
/* HEADER */
#header {
	width:auto;
	padding: 0;
	margin: 0;
	height: 92px;
	position: relative;
	margin-left: 0
}

#head1 {
	position: relative;
   top: 23px;
   left: 65px;
	height:37px;
	background: url(../images/hSep.gif) no-repeat left bottom;
}

#head2 {
	position: relative;
   top: 28px;
	left: 0;
	height: 28px;
	background: url(../images/hTab.gif) repeat-x center top;
}

#head_a {
	position: absolute;
	top: 0;
	left: 0;
}
#head_a {
	position: absolute;
	height: 30px;
	padding: 0; margin:0;
	font-family: Arial, Helvetica;
	font-size: 18px;
	color:#778899;
   top: 9px;
}
#head_a1 {
	position: absolute;
	height: 30px;
	padding: 0; margin:0;
	font-family: Arial, Helvetica;
	font-size: 18px;
   color:#1c4598;
   font-weight: bold;
}

#head_b {
 	position: absolute;
	top: -10px;
	right: 0;
	font: 8pt Tahoma, sans-serif;
}
/* login info */
#head_b #login {
	text-align:right;
}

/* db info */
#head_b #dbtext {
	text-align: right;
}

#logout {
 	position: absolute;
	bottom: 4px;
	right: 3px;
	color:#006;
	background: #ffffff;
	font-weight: bold;
	padding: 1px 4px;
	border: #006 1px solid;
}

div.menuBar {
	height: 28px;
	margin: 0; padding: 0;
	background: url(../images/hTabFade.gif) no-repeat right top;
	list-style: none;
	margin: 0; padding: 0;
	margin-left: 3px;
	border-right: 2px #9ab solid;
}
div.menuBar a.menuButton {
	float:left;
    border: none;
	border-left: #9ab 1px solid;
	border-right: #345 1px solid;
	margin: 0; padding: 0;
	color: #ffffff;
	background: url(../images/hTab.gif) repeat-x center top;
}

div.menuBar a.menuButtonActive {
    border: none;
	height: 22px;
	background: #fff url(../images/hTabOn.gif) repeat-x center top;
}
div.menuBar a.homeButtonActive {
	height: 22px;
}

div.menuBar a.menuButton {
	display:block;
	width:80px;
	text-align:center;
	padding-top:5px;
	/*	margin: 5px 10px 6px 10px;*/
	/*font-size: 110%;*/
	font-weight: bold;
	color: #fffff0;
	text-decoration: none;
}

div.menuBar a.menuButton:hover {
	text-decoration: underline;
}

div.menuBar a.menuButtonActive, div.menuBar a.menuButtonActive:hover {
	color: #006;
	cursor: default;
	text-decoration: none;
}

#first_tab {
	border-left: 0px;
}

div.menu,
div.menu a.menuItem {
  font-family: "MS Sans Serif", Arial, sans-serif;
  font-size: 8pt;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

div.menu {
  border: 2px solid;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 110;
  display: inline;
}

div.menu a.menuItem {
  color: #006;
  cursor: pointer;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #000080;
  color: #ffffff;
	font-weight: bold
}

div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}

div.menu a.menuItem span.menuItemText {
}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}
.welcome {
	font-size:35pt;
	color:#778899;
	font-family:Arial;font-weight:normal;
	display:block;
	margin-top: 100px;
	text-align: center;
}

.message {
	font-size:19pt;
	color:#778899;
	font-family:Arial;
	font-weight:normal;
	display:block;
	margin-top: 10px;
	text-align:center;
}

/* form prompt.jsp   */
form#prompt {
color: #464646; 
	font: 11px Arial, Helvetica, sans-serif; z-index: 80;
	}
form#prompt select, form#prompt input { width: 360px; padding: 0px; margin:2px;
  font: 11px Arial, Helvetica, sans-serif; z-index: 80;color: #464646;}
form#prompt input.submit, form#prompt input.radio { width:auto;} 
form#prompt .note {  vertical-align:middle; margin-top:20px;}
form#prompt	td {
	color: #464646;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	padding:2px;
}
form#prompt input.submit {
	color: #ffffff;
	background-color: #778899;
}
.errorMessage {
	font-size:10pt;
	color:#0000FF;
	text-align:center;
	font-weight: bold;
}
.search {
	width:300px;
	border: 1px #789 solid;
	margin: 60px 0 0 20px;
	background-color:  #ffffff;
	vertical-align: top;
}
/* similar to main nav */
.search h4 {
	color: #ffffff;
	background: #778899;
	text-align: center;
	padding:2px;
	margin: 0px;
	/**/
	font: bold 9pt Arial, sans-serif;
}
.search div {
	height: 200px;
	overflow: auto;
}

/* similar to smallText1 */
.search div a, .search div a:visited {
	display:block;
	color: #464646;
	font: normal 8pt Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 3px 4px 3px 4px;
}
.search div a:hover {
	background-color: #a0c6e5;
	text-decoration: none;
}
#main {
    z-index : -1;	
}
.alert-message {
	color:#ff0000;
	text-align:center;
	font-weight: bold;
}

/*PT1101270 pulled from admin.css*/
#clusterConfigUsage {
   position: absolute;
   top:33px; left:460px;
   padding: 0px 5px 0px 5px;
   color: #d44;
   font-size:16px;
   font-weight: bold;
   font-style: italic;
}
#clusterConfigName{ 
   position:absolute; 
   top:-28px; 
   right:5px; 
   color: #666666;
   font-weight:bold;  
   font-style: italic;   
}

#clusterName {
   position: absolute;
   right: 5px;
   bottom: 42px;
   margin:0;
   padding:0;
   color: #666666;
   font-weight:bold;  
   font-style: italic;
}

a.topMenu { 
   margin:0;
   padding: 0px 5px 1px 5px;
   color: #1c4598;
   cursor: pointer;
   border-left: #88d 1px solid;
   font-weight:bold;
}
#Searcher { 
   margin:0;
   padding: 0px 1px 1px 1px;
   color: #1c4598;
   cursor: pointer;
   border-left: #88d 1px solid;
   font-weight:bold;
   position: absolute;
   right: 6em;
}
#SearcherLabel { 
   margin:0;
   padding: 0px 1px 1px 1px;
   color: #1c4598;
   font-weight:bold;
   position: absolute;
   right: 16em;
}

a.topMenu:hover {
   color: #695;
}

a.topMenu, a.topMenu:link, a.topMenu:visited, a.topMenu:hover {
    text-decoration: underline;
}

#menubar_b {
   position: absolute;
   bottom: 74px;
   right: 5px;
   margin:0;
   padding:0;
}

#menubar_b ul {
   margin:0;
   padding:0;
   margin-bottom:2px;
   list-style:none;
}

* html #menubar_b ul {
   margin-bottom:3px;
}

#menubar_b li {
   display:inline;
   padding:0; margin:0;
   margin-left:0px;
}

#asOfDate{ 
   position:absolute; 
   top:5px; 
   right:10px; 
   color: #FFFFFF;
   font-weight:bold;  
}
#localebutton1 { 
   margin:0;
   cursor: pointer;
   position: absolute;
   right: 40em;
   font-size: 9px;
}
#localevalue1 { 
   color: #1c4598;
   font-weight:bold;
   position: absolute;
   right: 35em;
   font-size: 9px;
}
#localebutton2 { 
   margin:0;
   cursor: pointer;
   position: absolute;
   right: 30em;
   font-size: 9px;
}
#localevalue2 { 
   color: #1c4598;
   font-weight:bold;
   position: absolute;
   right: 25em;
   font-size: 9px;
}
