* {
	margin: 0;
	padding: 0;
}
body {
	overflow-x: hidden;
	background-color: #ccf;
	font-family: "Arial, Helvetica, sans-serif";
	font-size: 14px;
}
nav {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: #036;
	transform: translate3d(-200px,0,0);
	transition: transform 0.4s ease;
}
.dropbtn {
	color: white;
}
.active-nav {
	transform: translate3d(0,0,0);
}
nav ul {
	list-style: none;
	margin-top: 100px;
	margin-left: 20px;
}
nav ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	letter-spacing: .5px;
	white-space: nowrap;	
	line-height: 20px;
}
.nav-toggle {
	display: block;
	position: absolute;
	left:200px;
	width:40px;
	height: 40px;
	background-color: #666;
}
.expand {
	color:#A9A9A9;	
	padding-left: 21px;
	overflow: hidden;
}
li:hover a:hover {
	color: red;
	font-size: 16px;
	overflow: visible;
}
.groups {
	display:none;
	text-indent: 10px;
}
p span {
    display: block;
}
