<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:f="http://java.sun.com/jsf/core" 
	  xmlns:h="http://java.sun.com/jsf/html" 
	  xmlns:ui="http://java.sun.com/jsf/facelets" 
	  xmlns:p="http://primefaces.org/ui"
	  xmlns="http://www.w3.org/1999/xhtml">
	  
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="includes/js/welcomePage.js"></script>
	<title>bar graph</title>
	<style type="text/css">
	    .right div {
	        float: right;
	    }
	</style>
</h:head> 
<body>
  <h:form id="barGraph">
  <div id="contentframe" class="multiselect center"> 
	<h:selectOneMenu value="#{barGraphBean.selectedField}" id="fields" immediate="true" onchange="this.form.submit()">
		<f:selectItem itemLabel="Select a field" itemValue="" />
		<f:selectItems value="#{barGraphBean.fieldList}" /> 
	</h:selectOneMenu>
    <p:growl id="growl" showDetail="true" />
	<p:chart type="bar" model="#{barGraphBean.barModelRoot}" style="height:300px">
		<p:ajax event="itemSelect" listener="#{barGraphBean.itemSelectFromRoot}" update="growl" />
	</p:chart>
  </div>
  </h:form>
</body>
</html>
